 <div style="text-align: center; line-height: 50px; color: white; font-size: 18px; font-weight: bold; font-family: &quot;Work Sans&quot;;">
     <div style="background-color: powderblue; margin: 10px 0px;">Powderblue</div>
     <div style="background-color: rgb(176, 224, 230); margin: 10px 0px;">#B0E0E6</div>
     <div style="background-color: rgb(176, 224, 230); margin: 10px 0px;">RGB(176,224,230)</div></div>


















{#<form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSf1Nk_EVO1RMkoxH7v5zVngGAFMXLSDAUMZiroNwDBGGYU-fQ/formResponse" method="post">#}
{#      <label>Nombre</label>#}
{#      <input type="hidden" value="asun" placeholder="Nombre" name="entry.705016319" required>#}
{#<br>#}
{#      <label>Creditos*</label>#}
{#      <input type="number" placeholder="Creditos" name="entry.1921843528" required>#}
{#<br>#}
{#      <label>Estudio*</label>#}
{#      <input type="number" placeholder="Estudio*" name="entry.400278731" min="1" max="10">#}
{#<br>#}
{#          <label>Tareas*</label>#}
{#      <input type="number" placeholder="Tareas*" name="entry.816789094" min="1" max="10">#}
{#<br>#}
{#          <label>Proyectos*</label>#}
{#      <input type="number" placeholder="Proyectos*" name="entry.1322386740" min="1" max="10">#}
{#<br>#}
{#          <label>Laboratorios*</label>#}
{#      <input type="number" placeholder="Estudio*" name="entry.1268868336" min="1" max="10">#}
{#<br>#}
{#          <label>Otros*</label>#}
{#      <input type="number" placeholder="Otros*" name="entry.476125629" min="1" max="10">#}
{#<br>#}
{#      <label>Comentarios</label>#}
{#      <textarea rows="5" placeholder="Comentarios" name="entry.1885526505" ></textarea>#}
{#<br>#}
{#      <button type="submit">Send</button>#}
{#</form>#}
{##}


























{#<form action="https://docs.google.com/forms/d/e/1FAIpQLSdLH6DVXm23dIAfz5CLV0S2J82vGYYq7i_TxAYKHV2ucEb3Zw/formResponse" method="post">#}
{#      <label>Name*</label>#}
{#      <input type="hidden" value="asun" placeholder="Name*" name="entry.1279407625" required>#}
{#<br>#}
{#      <label>Email Address*</label>#}
{#      <input type="email" placeholder="Email*" name="entry.1867769267" required>#}
{#<br>#}
{#      <label>Subject</label>#}
{#      <input type="number" placeholder="Subject*" name="entry.981958982" min="1" max="5">#}
{#<br>#}
{#      <label>Message*</label>#}
{#      <textarea rows="5" placeholder="Message*" name="entry.791362565" required></textarea>#}
{#<br>#}
{#      <button type="submit">Send</button>#}
{#</form>#}
